.rec{
  display:block;
  
}
.header{
	text-align:center;
	grid-column-start: 1;
	grid-column-end:-1;
	grid-row: 1;
  	background-image:linear-gradient(to right, green, #78FF78);
}
#headtxt{
	color:#0000FF
}

.content{
	grid-column: 2;
	grid-row: 2;
	padding:2px;
	font-size:1.15	em;
	font-family:"Comic Sans MS","Times New Roman","serif";
}
.leftrecs{
	grid-column: 1;
	grid-row: 2;
	
}
.rightrecs{
	grid-column: 3;
	grid-row: 2;
	
}
.main{
	grid-template-columns: 50px, auto, 50px;
	grid-template-rows: 100px, auto, 50px;
	
}
