
 .red {
 color:red; 
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.header {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

.vak1 {
 grid-column-start:2 ;
 grid-column-end: 3;
 grid-row-start: 2;
 grid-row-end: 3;
 background-color: maroon;
 color: maroon;
}
.vak2 {
 grid-column-start: 3;
 grid-column-end: 4;
 grid-row-start: 2;
 grid-row-end: 3;
 background-color: yellow;
 color: yellow;
}
.vak3 {
 grid-column-start: 4;
 grid-column-end: 5;
 grid-row-start: 2;
 grid-row-end: 3;
 background-color: black;
 color: black;
}
.vak4 {
 grid-column-start: 5;
 grid-column-end: 6;
 grid-row-start: 2;
 grid-row-end: 3;
 background-color: white;
 color: white;
}
.vak5 {
 grid-column-start: 2;
 grid-column-end: 3;
 grid-row-start: 3;
 grid-row-end: 4;
 background-color: grey;
 color: grey;
}
.vak6 {
 grid-column-start: 3;
 grid-column-end: 4;
 grid-row-start: 3;
 grid-row-end: 4;
 background-color: orange;
 color: orange;
}
.vak7 {
 grid-column-start: 4;
 grid-column-end: 5;
 grid-row-start: 3;
 grid-row-end: 4;
 background-color: #AC1CC8;
 color: #AC1CC8;
}
.vak8 {
 grid-column-start: 5;
 grid-column-end: 6;
 grid-row-start: 3;
 grid-row-end: 4;
 background-color: #92DC23;
 color: #92DC23;
}
.vak9 {
 grid-column-start: 2;
 grid-column-end: 3;
 grid-row-start: 4;
 grid-row-end: 5;
 background-color: #B58556;
 color: #B58556;
}
.vak10 {
 grid-column-start: 3;
 grid-column-end: 4;
 grid-row-start: 4;
 grid-row-end: 5;
 background-color: red;
 color: red;
}
.vak11 {
 grid-column-start: 4;
 grid-column-end: 5;
 grid-row-start: 4;
 grid-row-end: 5;
 background-color: blue;
 color: blue;
}
.vak12 {
 grid-column-start: 5;
 grid-column-end: 6;
 grid-row-start: 4;
 grid-row-end: 5;
 background-color: brown;
 color: brown;
}
.vak13 {
 grid-column-start: 2;
 grid-column-end: 3;
 grid-row-start: 5;
 grid-row-end: 6;
 background-color: pink;
 color: pink;
}
.vak14 {
 grid-column-start: 3;
 grid-column-end: 4;
 grid-row-start: 5;
 grid-row-end: 6;
 background-color: green;
 color: green;
}
.vak15 {
 grid-column-start: 4;
 grid-column-end: 5;
 grid-row-start: 5;
 grid-row-end: 6;
 background-color: #3FBAB2;
 color: #3FBAB2;
}
.vak16 {
 grid-column-start: 5;
 grid-column-end: 6;
 grid-row-start: 5;
 grid-row-end: 6;
 background-color: #0F680C;
 color: #0F680C;

.red {
    color: red;

}
